{% extends 'base.html.twig' %}

{% block title %}Contents index{% endblock %}

{% block body %}
    <section class="cta-section theme-bg-light py-5">
        <div class="container text-center">
            <h2 class="heading">Metin Ağaoğlu</h2>
            <div class="intro">Welcome to my blog. Subscribe and get my latest blog post in your inbox.</div>
            <form class="signup-form form-inline justify-content-center pt-3">
                <div class="form-group">
                    <label class="sr-only" for="semail">Your email</label>
                    <input type="email" id="semail" name="semail1" class="form-control mr-md-1 semail" placeholder="Enter email">
                </div>
                <button type="submit" class="btn btn-primary">Subscribe</button>
            </form>
        </div><!--//container-->
    </section>
    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container">

            {% for content in paginator.results %}
                <div class="item mb-5">
                    <div class="media">
                        <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="assets/images/blog/blog-post-thumb-1.jpg" alt="image">
                        <div class="media-body">
                            <h3 class="title mb-1"><a href="{{ path('contents_show', {'contentId':content.contentId} ) }}">{{ content.title }}</a></h3>
                            <div class="meta mb-1"><span class="date">{{ content.createdAt ? content.createdAt|date('Y-m-d H:i:s') : '' }}</span><span class="time">5 min read</span><span class="comment"><a href="#">8 comments</a></span></div>
                            <div class="intro">{{ content.description }}</div>
                            <a class="more-link" href="{{ path('contents_show', {'contentId':content.contentId} ) }}">Read more &rarr;</a>
                        </div><!--//media-body-->
                    </div><!--//media-->
                </div><!--//item-->
            {% else %}
                <tr>
                    <td colspan="13">no records found</td>
                </tr>
            {% endfor %}

            <nav class="blog-nav nav nav-justified my-5">
                {% if paginator.hasToPaginate %}
                    <ul class="pagination">
                        {% if paginator.hasPreviousPage %}
                            <a class="nav-link-prev nav-item nav-link d-none rounded-left" href="{{ path('contents_index', {page: paginator.previousPage}) }}">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
                        {% else %}
                            <li class="prev disabled"><span><i class="fa fw fa-arrow-left"></i> Previous</span></li>
                        {% endif %}

                        {% for i in 1..paginator.lastPage %}
                            {% if i == paginator.currentPage %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="{{ path('contents_index', {page: i}) }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if paginator.hasNextPage %}
                            <li class="next"><a href="{{ path('contents_index', {page: paginator.nextPage}) }}" rel="next">Next <i class="fa fw fa-arrow-right"></i></a></li>
                        {% else %}
                            <li class="next disabled"><span>Next <i class="fa fw fa-arrow-right"></i></span></li>
                        {% endif %}
                    </ul>
        {% endif %}

        </nav>

        </div>
    </section>




    <footer class="footer text-center py-2 theme-bg-dark">

        <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
        <small class="copyright">Designed with <i class="fas fa-heart" style="color: #fb866a;"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>

    </footer>

{% endblock %}
